---
import Layout from "../components/Layout.astro";
---

<Layout>
    <h1>Acerca de la empresa</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias,
        inventore.
    </p>
    
</Layout>
