---
import Card from "../components/card.astro";
import Layout from "../components/Layout.astro";
---

<Layout>
    <h1>Mis vestidos</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias,
        inventore.
    </p>
    <Card title="Vestido de gala" content="esta es una prueba" />
    <Card
        title="Vestido de fiesta"
        content="Ofrecemos los mejores vestidos del sur del Peru"
    />
    <Card title="Vestido de novia" content="xd" />
    <Card title="Diseño" content="xd" />
    <Card title="ñ¤" content="xd" />

    <Card />
</Layout>
